@tailwind base;
@tailwind components;
@tailwind utilities;

/* EXPLANATION : woff : for compression and faster loading time */
@font-face {
  font-family: "graveur-light";
  src: url("/fonts/graveure/graveur-small.ttf") format("woff2");
}

@font-face {
  font-family: "graveur-regular";
  src: url("/fonts/graveure/graveur-regular.ttf") format("woff2");
}
@font-face {
  font-family: "graveur-medium";
  src: url("/fonts/graveure/graveur-medium.ttf") format("woff2");
}

@font-face {
  font-family: "graveur-semibold";
  src: url("/fonts/graveure/graveur-semibold.ttf") format("woff2");
}
@font-face {
  font-family: "graveur-bold";
  src: url("/fonts/graveure/graveur-bold.ttf") format("woff2");
}
@font-face {
  font-family: "inter-light";
  src: url("/fonts/inter/Inter-light.ttf") format("woff2");
}

@font-face {
  font-family: "inter-regular";
  src: url("/fonts/inter/Inter-regular.ttf") format("woff2");
}
@font-face {
  font-family: "inter-medium";
  src: url("/fonts/inter/Inter-medium.ttf") format("woff2");
}

@font-face {
  font-family: "inter-semibold";
  src: url("/fonts/inter/Inter-semibold.ttf") format("woff2");
}
@font-face {
  font-family: "inter-bold";
  src: url("/fonts/inter/Inter-bold.ttf") format("woff2");
}

.Toastify__toast--error.Toastify__toast {
  color: var(--error) !important;
}

.Toastify__toast--success.Toastify__toast {
  color: var(--success) !important;
}
.Toastify__toast--warning.Toastify__toast {
  color: var(--warning) !important;
}
.Toastify__toast-body {
  font-size: 0.9rem;
}

.Toastify__toast--error.Toast__progress_bar {
  background-color: var(--error) !important;
}

.Toastify__progress-bar--success {
  background-color: var(--success) !important;
}

.Toastify__progress-bar--error {
  background: var(--error) !important;
}
.Toastify__progress-bar--warning {
  background: var(--warning) !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: var(--error);
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--success);
}
.Toastify__toast--warning .Toastify__toast-icon svg {
  fill: var(--warning);
}

@layer components {
  .label-input-wrapper {
    @apply flex flex-col gap-[0.5rem];
  }
}

.PhoneInputCountrySelectArrow {
  @apply mx-3;
}
